@import "./shared.scss";

.title {
  margin: 20px auto;
}

.table {
  width: 200px;
  margin: 15px 0;
  align-self: center;
  border-spacing: 0;

  td,
  th {
    padding: 10px;
    border: 1px solid #ccc;
  }
}
